<% if post.completed < 0 %>
<tr>
  <td>
		<span class="street-address"><%= post.street %></span>&nbsp;
		<span class="city-zip"><%= post.city %>, <%= post.state %> <%= post.zip %></span>
		<div style="float:right;">
		<%= link_to "View", post %> - <%= link_to "Delete", post, :confirm => "Are you sure?", :method => :delete, :remote => true %>
		</div>
		<br />
		<%= link_to post.step_names[0], edit_post_path(post.id, :current_step => "0") %>&nbsp;
		<%= link_to post.step_names[1], edit_post_path(post.id, :current_step => "1") %>&nbsp;
		<%= link_to post.step_names[2], edit_post_path(post.id, :current_step => "2") %>&nbsp;
		<%= link_to post.step_names[3], edit_post_path(post.id, :current_step => "3") %>
	</td>
</tr>
<% else %>
<tr>
	<td>
		<span class="street-address"><%= post.street %></span>&nbsp;
		<span class="city-zip"><%= post.city %>, <%= post.state %> <%= post.zip %></span>
		<br />
		<%= link_to "Complete", edit_post_path(post.id, :current_step => post.completed) %>
		<%= link_to "Delete", post, :method => :delete, :remote => true %>
	</td>
</tr>
<% end %>