<% if post.completed < 0 %>
<tr>
  <td>
		<b><%= post.completed %></b> -
		<%= post.id %> -
		<%= post.user_id %> -
    	<%= post.name %> -
		<%= post.phone_number %> -
		<%= post.street %> -
		<%= post.city %> -
		<%= post.state %> -
		<%= post.zip %> -
		<%= post.bedrooms %> -
		<%= post.full_bathrooms %> -
		<%= post.half_bathrooms %> -
		<%= link_to post.step_names[0], edit_post_path(post.id, :current_step => "0") %>
		<%= link_to post.step_names[1], edit_post_path(post.id, :current_step => "1") %>
		<%= link_to post.step_names[2], edit_post_path(post.id, :current_step => "2") %>
		<%= link_to post.step_names[3], edit_post_path(post.id, :current_step => "3") %>
		<%= link_to "Delete", post, :method => :delete, :remote => true %>
	</td>
</tr>
<% else %>
<tr>
	<td>
		<b><%= post.completed %></b> -
		<%= post.id %> -
		<%= post.user_id %> -
    	<%= post.name %> -
		<%= post.phone_number %> -
		<%= post.street %> -
		<%= post.city %> -
		<%= post.state %> -
		<%= post.zip %> -
		<%= post.bedrooms %> -
		<%= post.full_bathrooms %> -
		<%= post.half_bathrooms %> -
		<%= link_to "Complete", edit_post_path(post.id, :current_step => post.completed) %>
		<%= link_to "Delete", post, :method => :delete, :remote => true %>
	</td>
</tr>
<% end %>