<%= f.hidden_field :step, :value => '1' %>

<div class="field">
	<%= f.label :street %><br />
	<%= f.text_field :street, :title => "test" %>
</div>
<div class="field">
	<%= f.label :city %><br />
	<%= f.text_field :city, :title => "test" %>
</div>
<div class="field">
	<%= f.label :state %><br />
	<%= f.text_field :state, :title => "test" %>
</div>
<div class="field">
	<%= f.label :zip %><br />
	<%= f.text_field :zip, :title => "test" %>
</div>
