<%= f.hidden_field :step, :value => '3' %>


<table>
	<tr>
	<td><%= f.label :school_district %></td>
	<td width=80%><%= f.text_field :school_district %></td>
	</tr>
	<tr>
	<td><%= f.label :elementary %></td>
	<td><%= f.text_field :elementary %></td>
	</tr>
	<tr>
	<td><%= f.label :middle %></td>
	<td><%= f.text_field :middle %></td>
	</tr>
	<tr>
	<td><%= f.label :high %></td>
	<td><%= f.text_field :high %></td>
	</tr>
	<tr><td colspan=2><hr /></td></tr>
	<tr>
	<td><%= f.label :neighborhood %></td>
	<td><%= f.text_field :neighborhood %></td>
	</tr>
	<tr>
	<td><%= f.label :neighborhood_description %></td>
	<td><%= f.text_area :neighborhood_description, :rows => 10 %></td>
	</tr>
</table>