<%= f.hidden_field :step, :value => '0' %>


<table>
	<td><%= f.label :name %><br /></td>
	<td width=80%>
		<% if @post.new_record? %>
			<%= f.text_field :name, :value => current_user.name, :title => "Field help text goes here" %>
		<% else %>
			<%= f.text_field :name, :title => "Field help text goes here" %>
		<% end %>
	</td>
	</tr>
	<tr>
	<td><%= f.label :phone_number, :class => "label"%></td>
	<td><%= f.text_field :phone_number %></td>
	</tr>
	<tr>
	<td><%= f.label :email %></td>
	<td><%= f.text_field :email %></td>
	</tr>
	<tr>
	<td><%= f.label :company %></td>
	<td><%= f.text_field :company %></td>
	</tr>
</table>