<%= f.hidden_field :step, :value => '0' %>


<table>
	<tr>
	<td><%= f.label :school_district %></td>
	<td width=80%><%= f.text_field :phone_number %></td>
	</tr>
	<tr>
	<td><%= f.label :elementary_school %></td>
	<td><%= f.text_field :phone_number %></td>
	</tr>
	<tr>
	<td><%= f.label :middle_school %></td>
	<td><%= f.text_field :phone_number %></td>
	</tr>
	<tr>
	<td><%= f.label :high_school %></td>
	<td><%= f.text_field :phone_number %></td>
	</tr>
	<tr><td colspan=2><hr /></td></tr>
	<tr>
	<td><%= f.label :neighborhood %></td>
	<td><%= f.text_field :phone_number %></td>
	</tr>
	<tr>
	<td><%= f.label :neighborhood_description %></td>
	<td><%= f.text_area :phone_number, :rows => 10 %></td>
	</tr>
</table>