<%= f.hidden_field :step, :value => '0' %>

<div class="field">
	<%= f.label :name %><br />
	<% if @post.new_record? %>
		<%= f.text_field :name, :value => current_user.name %>
	<% else %>
		<%= f.text_field :name %>
	<% end %></div>
<div class="field">
	<%= f.label :phone_number %><br />
	<%= f.text_field :phone_number %>
</div>
