<%= f.hidden_field :step, :value => '2' %>

<div class="field">
	<%= f.label :bedrooms %><br />
	<%= f.text_field :bedrooms %>
</div>
<div class="field">
	<%= f.label :full_bathrooms %><br />
	<%= f.text_field :full_bathrooms %>
</div>
<div class="field">
	<%= f.label :half_bathrooms %><br />
	<%= f.text_field :half_bathrooms %>
</div>