<%= f.hidden_field :step, :value => '2' %>

<table>
	
	<tr>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Indoor features</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :attic %><%= f.label :attic %><br />
			<%= f.check_box :cable_ready %><%= f.label :cable_ready %><br />
			<%= f.check_box :ceiling_fans %><%= f.label :ceiling_fans %><br />
			<%= f.check_box :double_pane_windows %><%= f.label :double_pane_windows %><br />
			<%= f.check_box :fireplace %><%= f.label :fireplace %><br />
			<%= f.check_box :intercom_system %><%= f.label :intercom_system %><br />
			<%= f.check_box :jetted_tub %><%= f.label :jetted_tub %><br />
			<%= f.check_box :mil_apartment %><%= f.label :mil_apartment %><br />
			<%= f.check_box :security_system %><%= f.label :security_system %><br />
			<%= f.check_box :skylights %><%= f.label :skylights %><br />
			<%= f.check_box :vaulted_ceiling %><%= f.label :vaulted_ceiling %><br />
			<%= f.check_box :wet_bar %><%= f.label :wet_bar %><br />
			<%= f.check_box :wired %><%= f.label :wired %><br />
		</td>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Outdoor features</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :balcony_patio %><%= f.label :balcony_patio %><br />
			<%= f.check_box :barbecue_area %><%= f.label :barbecue_area %><br />
			<%= f.check_box :deck %><%= f.label :deck %><br />
			<%= f.check_box :dock %><%= f.label :dock %><br />
			<%= f.check_box :fenced_yard %><%= f.label :fenced_yard %><br />
			<%= f.check_box :garden %><%= f.label :garden %><br />
			<%= f.check_box :greenhouse %><%= f.label :greenhouse %><br />
			<%= f.check_box :hot_tub %><%= f.label :hot_tub %><br />
			<%= f.check_box :lawn %><%= f.label :lawn %><br />
			<%= f.check_box :pond %><%= f.label :pond %><br />
			<%= f.check_box :pool %><%= f.label :pool %><br />
			<%= f.check_box :porch %><%= f.label :porch %><br />
			<%= f.check_box :rv_parking %><%= f.label :rv_parking %><br />
			<%= f.check_box :sauna %><%= f.label :sauna %><br />
			<%= f.check_box :sprinkler_system %><%= f.label :sprinkler_system %><br />
			<%= f.check_box :waterfront %><%= f.label :waterfront %><br />		</td>
	</tr>
	
	<tr><td colspan=4><hr /></td></tr>
	
	<tr>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Heating source</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :coal %><%= f.label :coal %><br />
			<%= f.check_box :electric %><%= f.label :electric %><br />
			<%= f.check_box :gas %><%= f.label :gas %><br />
			<%= f.check_box :oil %><%= f.label :oil %><br />
			<%= f.check_box :propane %><%= f.label :propane %><br />
			<%= f.check_box :solar_heating_source %><%= f.label :solar_heating_source %><br />
			<%= f.check_box :wood_heating_source %><%= f.label :wood_heating_source %><br />
			<%= f.check_box :other_heating_source %><%= f.label :other_heating_source %><br />
			<%= f.check_box :none_heating_source %><%= f.label :none_heating_source %><br />
		</td>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Exterior</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :brick %><%= f.label :brick %><br />
			<%= f.check_box :cement %><%= f.label :cement %><br />
			<%= f.check_box :composition %><%= f.label :composition %><br />
			<%= f.check_box :metal %><%= f.label :metal %><br />
			<%= f.check_box :shingle %><%= f.label :shingle %><br />
			<%= f.check_box :stone %><%= f.label :stone %><br />
			<%= f.check_box :stucco %><%= f.label :stucco %><br />
			<%= f.check_box :vinyl %><%= f.label :vinyl %><br />
			<%= f.check_box :wood_exterior %><%= f.label :wood_exterior %><br />
			<%= f.check_box :other_exterior %><%= f.label :other_exterior %><br />
		</td>
	</tr>
	
	<tr><td colspan=4><hr /></td></tr>
	
	<tr>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Parking</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :carport %><%= f.label :carport %><br />
			<%= f.check_box :attached_garage %><%= f.label :attached_garage %><br />
			<%= f.check_box :detached_garage %><%= f.label :detached_garage %><br />
			<%= f.check_box :off_street %><%= f.label :off_street %><br />
			<%= f.check_box :on_street %><%= f.label :on_street %><br />
			<%= f.check_box :none_parking %><%= f.label :none_parking %><br />
		</td>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">View</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :city_view %><%= f.label :city_view %><br />
			<%= f.check_box :mountain %><%= f.label :mountain %><br />
			<%= f.check_box :park %><%= f.label :park %><br />
			<%= f.check_box :territorial %><%= f.label :territorial %><br />
			<%= f.check_box :water %><%= f.label :water %><br />
			<%= f.check_box :none %><%= f.label :none %><br />
		</td>
	</tr>
	
	<tr><td colspan=4><hr /></td></tr>
	
	<tr>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Heating type</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :basebord %><%= f.label :basebord %><br />
			<%= f.check_box :forced_air %><%= f.label :forced_air %><br />
			<%= f.check_box :heat_pump %><%= f.label :heat_pump %><br />
			<%= f.check_box :radiant %><%= f.label :radiant %><br />
			<%= f.check_box :stove %><%= f.label :stove %><br />
			<%= f.check_box :wall_heating_type %><%= f.label :wall_heating_type %><br />
			<%= f.check_box :other_heating_type %><%= f.label :other_heating_type %><br />
		</td>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Cooling type</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :central %><%= f.label :central %><br />
			<%= f.check_box :evaporative %><%= f.label :evaporative %><br />
			<%= f.check_box :geothermal %><%= f.label :geothermal %><br />
			<%= f.check_box :refrigerator_cooling_type %><%= f.label :refrigerator_cooling_type %><br />
			<%= f.check_box :solar_cooling_type %><%= f.label :solar_cooling_type %><br />
			<%= f.check_box :wall_cooling_type %><%= f.label :wall_cooling_type %><br />
			<%= f.check_box :other_cooling_type %><%= f.label :other_cooling_type %><br />
		</td>
	</tr>
	
	<tr><td colspan=4><hr /></td></tr>
	
	<tr>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Appliances</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :dishwasher %><%= f.label :dishwasher %><br />
			<%= f.check_box :dryer %><%= f.label :dryer %><br />
			<%= f.check_box :freezer %><%= f.label :freezer %><br />
			<%= f.check_box :garbage_disposal %><%= f.label :garbage_disposal %><br />
			<%= f.check_box :microwave %><%= f.label :microwave %><br />
			<%= f.check_box :range %><%= f.label :range %><br />
			<%= f.check_box :refrigerator_appliances %><%= f.label :refrigerator_appliances %><br />
			<%= f.check_box :trash_compactor %><%= f.label :trash_compactor %><br />
			<%= f.check_box :washing_machine %><%= f.label :washing_machine %><br />
		</td>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Floors</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :carpet %><%= f.label :carpet %><br />
			<%= f.check_box :concrete %><%= f.label :concrete %><br />
			<%= f.check_box :hardwood %><%= f.label :hardwood %><br />
			<%= f.check_box :laminate %><%= f.label :laminate %><br />
			<%= f.check_box :linoleum %><%= f.label :linoleum %><br />
			<%= f.check_box :slate %><%= f.label :slate %><br />
			<%= f.check_box :softwood %><%= f.label :softwood %><br />
			<%= f.check_box :tile %><%= f.label :tile %><br />
			<%= f.check_box :other_floors %><%= f.label :other_floors %><br />
		</td>
	</tr>
	
	<tr><td colspan=4><hr /></td></tr>
	
	<tr>
		<td style="vertical-align:top; width:125px; text-align:right; font-weight:bold">Rooms</td>
		<td style="vertical-align:top; width:175px">
			<%= f.check_box :breakfast_nook %><%= f.label :breakfast_nook %><br />
			<%= f.check_box :dining_room %><%= f.label :dining_room %><br />
			<%= f.check_box :family_room %><%= f.label :family_room %><br />
			<%= f.check_box :laundry_room %><%= f.label :laundry_room %><br />
			<%= f.check_box :library %><%= f.label :library %><br />
			<%= f.check_box :master_bath %><%= f.label :master_bath %><br />
			<%= f.check_box :mud_room %><%= f.label :mud_room %><br />
			<%= f.check_box :office %><%= f.label :office %><br />
			<%= f.check_box :pantry %><%= f.label :pantry %><br />
			<%= f.check_box :recreation_room %><%= f.label :recreation_room %><br />
			<%= f.check_box :workshop %><%= f.label :workshop %><br />
			<%= f.check_box :solarium %><%= f.label :solarium %><br />
			<%= f.check_box :sun_room %><%= f.label :sun_room %><br />
			<%= f.check_box :walkin_closet %><%= f.label :walkin_closet %><br />
		</td>
		<td style="vertical-align:top; width:125px; text-align:right"></td>
		<td style="vertical-align:top; width:175px">
		</td>
	</tr>

</table>

<br />

