<h1>Edit listing</h1>

<%= form_for(@post) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :street %><br />
		<%= f.text_field :street %>
	</div>
	<div class="field">
		<%= f.label :bedrooms %><br />
		<%= f.text_field :bedrooms %>
	</div>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>