<header>
	<nav class="round">
	  <% if signed_in? %>
		<%= link_to "Signout", signout_path, :method => :delete %>
		<%= link_to "Profile", current_user %>
		<%= link_to "Settings", edit_user_path(current_user) %>
	  <% else %>
		<%= link_to "Sign in", signin_path %>
		<%= link_to "Sign up", signup_path %>
	  <% end %>
	  <%= link_to "Home", root_path %>
	  <%= link_to "FAQ", faq_path %>
	  <%= link_to "About", about_path %>
	  <%= link_to "Contact us", contact_path %>
	</nav>
</header>