<!DOCTYPE html>
<head>
	<title><%= title %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "rails", "application" %>	
</head>

<body>
<div id="wrap">
	<div id="container">
		
		<div id="header">
			<%= image_tag("obipost.png") %>
			<div id="status">
				<% if signed_in? %>
					<%= current_user.email %> - 
					<%= link_to "Signout", signout_path, :method => :delete %>
				<% else %>
					<%= link_to "Sign up", signup_path %> | 
					<%= link_to "Sign in", signin_path %>
				<% end %>
			</div>
		</div>
		
		<div id="nav">
			<ul>
				<% if signed_in? %>
					<li><%= link_to "My Posts", current_user %>
					<li><%= link_to "My Account", edit_user_path(current_user) %>
				<% end %>
				<li><%= link_to "Home", root_path %>
				<li><%= link_to "FAQ", faq_path %>
				<li><%= link_to "About", about_path %>
				<li><%= link_to "Contact us", contact_path %>
			</ul>
			<br class="clear" />
		</div>
		<div id="content">
			<div id="page">
				<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<h1><%= @title %></h1>
				<%= yield %>
			</div>
			<div class="sidebar">
				Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Fusce ultr icies tortor non neque por ttitor 
			</div>
			<div class="clear"></div>
		</div>
		
		<div id="footer">
		</div>

	</div>
</div>

</body>
</html>